<div class="welcome vh-100 d-flex flex-column align-items-center">
    <div class="row h-25"></div>
    <div class="welcome-message row  h-25 text-center align-items-center">
        ¡Bienvenido(a)!
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-dark btn-lg" routerLink="/sign-in">Iniciar sesión</button>
            <button type="button" class="btn btn-outline-dark btn-lg" routerLink="/sign-up">Registrarse</button>
        </div>
        <!-- <div class="col">
        </div> -->
    </div>
    <div class="row h-25"></div>
</div>