<div class="welcome vh-100 d-flex flex-column align-items-center">
    <div class="row h-25"></div>
    <div class="welcome-message row  h-25 text-center align-items-center">
        ¡Bienvenido(a)!
    </div>
    <div class="container text-center w-50">
        <div class="row justify-content-between">
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" (click)="navigate('sign-in')">Iniciar sesión</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary btn-lg" (click)="navigate('sign-up')">Registrarse</button>
            </div>
        </div>
    </div>
    <div class="row h-25"></div>
</div>