<!-- Fail Toast -->
<div class="toast-container position-absolute top-0 end-0">
    <div class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true" id="signUpFailToast">
        <div class="toast-header text-bg-danger">
            <strong class="me-auto">¡Registro fallido!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{toastMessage}}
        </div>
    </div>
</div>
<!-- Success Toast -->
<div class="toast-container position-absolute top-0 end-0">
    <div class="toast text-bg-success" role="alert" aria-live="assertive" aria-atomic="true" id="signUpToast">
        <div class="toast-header text-bg-success">
            <strong class="me-auto">¡Registro exitoso!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            El registro se realizó correctamente.
        </div>
    </div>
</div>
<div class="signIn vh-100 vw-100 d-flex flex-column">
    <div class="signUp p-5 h-50"></div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="formSignUp card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">
                <h3 class="card-title mb-5">Datos Usuario</h3>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                    <div class="row g-3 mb-4 mx-3 justify-content-between">
                        <div class="form-floating col-md-4 p-0 pe-3">
                            <input type="text" class="form-control" id="formName" formControlName="name" placeholder="Nombres">
                            <label for="formName">Nombres</label>
                            <div class="ps-1 text-start text-danger" *ngIf="signUpForm.get('name')?.hasError('required') && signUpForm.get('name')?.touched">
                                <span>Nombre(s) <strong>obligatorio(s)</strong></span>
                            </div>
                        </div>
                        <div class="form-floating col-md-4 p-0 pe-3">
                            <input type="text" class="form-control" id="formLastName" formControlName="lastName" placeholder="Apellidos">
                            <label for="formLastName">Apellidos</label>
                            <div class="ps-1 text-start text-danger" *ngIf="signUpForm.get('lastName')?.hasError('required') && signUpForm.get('lastName')?.touched">
                                <span>Apellido(s) <strong>obligatorio(s)</strong></span>
                            </div>
                        </div>
                        <div class="form-floating col-md-4 p-0">
                            <input type="text" class="form-control" id="formUserName" formControlName="userName" placeholder="Usuario">
                            <label for="formUserName">Nombre usuario</label>
                            <div class="ps-1 text-start text-danger" *ngIf="signUpForm.get('userName')?.hasError('required') && signUpForm.get('userName')?.touched">
                                <span>Nombre de usuario <strong>obligatorio</strong></span>
                            </div>
                            <div class="ps-1 text-start text-info" *ngIf="userNameExist">
                                <span>Ingrese nuevo nombre de usuario</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-4 mx-3">
                        <input type="email" class="form-control" id="formEmail" formControlName="email" placeholder="name@example.com">
                        <label for="formEmail">Correo electrónico</label>
                        <div class="ps-1 text-start text-danger" *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched">
                            <span>Correo electrónico <strong>obligatorio</strong></span>
                        </div>
                        <div class="ps-1 text-start text-info" *ngIf="emailExist">
                            <span>Ingrese nuevo correo electrónico</span>
                        </div>
                    </div>
                    <div class="form-floating mb-4 mx-3">
                        <input type="password" class="form-control" id="formPassword" formControlName="password" placeholder="Contraseña">
                        <label for="formPassword">Contraseña</label>
                        <div class="ps-1 text-start text-danger" *ngIf="signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched">
                            <span>Contraseña <strong>obligatoria</strong></span>
                        </div>
                    </div>
                    <div class="mb-2 mx-3 d-flex flex-column">
                        <button class="btn btn-primary btn-sm btn-block" type="submit" [disabled]="this.signUpForm.invalid">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class=" p-5 h-25"></div>
</div>
<!-- text-bg-success
         text-bg-warning
         text-bg-primary
        -->